{% extends 'base.html' %}

{% block title %} Lonin {% endblock title %}

{% block body %} 


<form class="login_form mx-5 my-5" method="POST" action="{% url 'logIn' %}"> 
  {% csrf_token %}
    <h1>Log in here.</h1> 
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Usernaem</label>
      <input type="text" class="form-control" name="loginusername" id="loginusername" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'LL never Share Your Email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="loginpassword" id="loginpassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock body %}