{% extends 'base.html' %}

{% block title %} Profile {% endblock title %}

{% block body %} 

    {% if user.is_authenticated %}
    {% load static %}
    <link rel="stylesheet" href="/static/index.css">
    <div class="profile_box">
     <h1>Welcome, to your profile <b>{{request.user}}</b></h1>
     <h1>Username : {{request.user}}</h1>
     <h1>First name : {{request.user.first_name}}</h1>
     <h1>Last name : {{request.user.last_name}}</h1>
     <h1>Email : {{request.user.email}}</h1>
    </div>
    {% endif %}

{% endblock body %}