*{
  margin: 0;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.carousel {
    min-width: 100%;
}
.profile_box{
  background-color: antiquewhite;
}